@theme {
  --font-sans: 'Roboto', sans-serif;

  --breakpoint-3xl: 1920px;

  --color-brand-primary: #293c5a;
  --color-brand-primary-light: #355fa9;
  --color-brand-secondary: #3b8ac5;
  --color-border-color: #dbe0ef;
  --color-text: #38393d;
}

:root {
  --ui-primary: var(--color-brand-primary);
  --ui-secondary: var(--ui-brand-primary-light);
  --ui-success: var(--ui-color-success-500);
  --ui-info: var(--ui-color-info-500);
  --ui-warning: var(--ui-color-warning-500);
  --ui-error: var(--ui-color-error-500);
}

.dark {
  --ui-primary: var(--color-brand-primary-light);
  --ui-secondary: var(--ui-brand-primary-light);
  --ui-success: var(--ui-color-success-400);
  --ui-info: var(--ui-color-info-400);
  --ui-warning: var(--ui-color-warning-400);
  --ui-error: var(--ui-color-error-400);
}
